html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 30px;
}

header {
  height: 10%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header span {
  margin: 0;
}

#spw-data span {
  color: red;
  font-size: 50%;
  margin-bottom: 0;
}

header.no-data {
  background-color: white;
}

#wrapper {
  height: auto;
  min-height: 80%;
  padding-bottom: 100px; /* footer height에 맞게 조절 */
  margin-left: 2%;
  margin-right: 2%;
  /* font-size: 0.75em; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-nav {
  position: sticky;
  top: 15%;
  float: left;
  width: 15%;
}

#right-nav {
  position: sticky;
  top: 15%;
  float: right;
  width: 15%;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#content-display > img {
  padding-top: 5%;
  padding-bottom: 2%;
  width: 50%;
  height: 70%;
}

#content-exp {
  width: 100%;
  height: 20%;
  text-align: center;
}

nav a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}

nav > div {
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0.5rem;
}

nav > div > div {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

footer {
  height: 10%;
  position: relative;
  transform: translateY(-100%);
  font-size: 0.5rem;
}

a,
button {
  cursor: pointer;
}

form span {
  font-size: 0.4rem;
  cursor: pointer;
}

form p {
  font-size: 30%;
}

.hidden {
  display: none;
}

/* my_page part */

#profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  padding: 2%;
}

#profile input,
#profile select {
  padding-top: 2%;
  padding-bottom: 2%;
}

#button_box {
  display: flex;
  justify-content: space-between;
}

span > input[type="submit"] {
  width: 30%;
}
