html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 30px;
}

header {
  height: 10%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header span {
  margin: 0;
}

#spw-data span {
  color: red;
  font-size: 50%;
  margin-bottom: 0;
}

header.no-data {
  background-color: white;
}

#wrapper {
  height: auto;
  min-height: 80%;
  padding-bottom: 100px;
  margin-left: 2%;
  margin-right: 2%;
  /* font-size: 0.75em; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#wrapper > img {
  padding-top: 30%;


#left-nav {
  position: sticky;
  top: 10%;
  float: left;
  width: 15%;
}

#right-nav {
  position: sticky;
  top: 10%;
  float: right;
  width: 15%;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#demo-display {
  display: flex;
  justify-content: center;
  min-height: 70vh;
  width: 100%;
  background-size: 90% 95%;
  background-position: center 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.content-slide > span {
  color: gray;
}

#content-display {
  height: 100%;
  width: 50%;
  border: 2px black solid;
  border-radius: 20px;
}

#content-img {
  width: 100%;
  height: 45vh;
  border-radius: 20px 20px 0px 0px;
  background-image: url("../images/seoulStation.jpg");
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-info {
  padding-top: 5%;
  height: 7vh;
}

.content-info span {
  padding-left: 15%;
  padding-right: 15%;
}

nav a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}

nav > div {
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0.5rem;
}

nav > div > div {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

footer {
  height: 10%;
  position: relative;
  transform: translateY(-100%);
  font-size: 0.5rem;
}

a,
button {
  cursor: pointer;
}

form span {
  font-size: 0.4rem;
  cursor: pointer;
}

form p {
  font-size: 30%;
}

.hidden {
  display: none;
}

/* my_page part */

#profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  padding: 2%;
}

#profile input,
#profile select {
  padding-top: 2%;
  padding-bottom: 2%;
}

#button_box {
  display: flex;
  justify-content: space-between;
}

span > input[type="submit"] {
  width: 30%;
}

.demo {
  padding-top: 30%;
  overflow: hidden;
}

.custom-info {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.5rem;
  padding: 0.2rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}
