<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Project : Friend</title>
  </head>
  <body>
    <!-- 회원가입 모달 -->
    <div id="signup-container" class="hidden modal-container">
      <div id="signup-content" class="modal-content">
        <form action="/sign_up" method="post" id="sign-up-form">
          {% csrf_token %}
          <input
            type="text"
            id="name"
            name="name"
            placeholder="* 이름"
            required
          />

          <input
            type="text"
            id="ID"
            name="ID"
            placeholder="* 아이디"
            required
          />
          <input
            type="submit"
            value="중복체크"
            id="checkID"
            formaction="/id_check"
            required
          />
          <input
            type="password"
            id="PW"
            name="PW"
            placeholder="* 비밀번호를 입력해주세요."
            required
          />
          <input
            type="password"
            id="checkPW"
            name="checkPW"
            placeholder="* 비밀번호를 한 번 더 입력해주세요."
            required
          />
          <p id="message" class="hidden">비밀번호가 일치하지 않습니다.</p>
          <input
            type="date"
            id="date"
            max="2024-01-01"
            min="1900-01-01"
            name="date"
            placeholder="생년월일"
            required
          />
          <select name="gender" id="gender" required>
            <option value="gender-init">* 성별</option>
            <option value="male">남성</option>
            <option value="female">여성</option>
          </select>
          <select name="impaired" id="disabled" required>
            <option value="impaired-init">* 장애여부</option>
            <option value="panic">공황장애</option>
            <option value="visually">시각장애</option>
            <option value="behavior">거동장애</option>
            <option value="normal">없음</option>
          </select>
          <br />
          <input type="submit" value="이전" />
          <input id="sign-up-check" type="submit" value="회원가입" />
        </form>
      </div>
    </div>

    <!-- 로그인 모달 -->

    <div id="login-container" class="hidden modal-container">
      <div id="login-content" class="modal-content">
        <form id="login-form" name="login" action="/login" method="post">
          {% csrf_token %}
          <label for="userid">Username</label>
          <input type="text" id="userid" name="userid" required />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <button type="submit">Login</button>
        </form>
      </div>
    </div>

    <!-- 관심지역 설정 모달 -->
    <div id="locationContainer" class="hidden modal-container">
      <div id="locationContent" class="modal-content">
        <div id="gpsLocation">
          <span>현재 위치로 설정</span>
        </div>
        <div id="mapLocation">
          <span>지도를 통해 설정</span>
        </div>
      </div>
    </div>

    <!-- 커스터마이징 모달 -->

    <div id="custom-container" class="hidden modal-container">
      <div id="custom-content" class="modal-content">
        <form
          action="/my_page/{{ request.session.ID }}"
          method="post"
          id="custom-form"
        >
          {% csrf_token %}
          <div class="custom-info" id="custom-demo">시위 정보</div>
          <div class="custom-info" id="custom-elevator">지하철 승강기 정보</div>
          <div class="custom-info" id="custom-population">인구밀집 정보</div>
          <div class="custom-info" id="custom-predict">혼잡도 예측</div>
          <div class="custom-info" id="custom-safety">치안 정보</div>
          <div class="custom-info" id="custom-safey-loc">안심 시설 정보</div>
          <div class="custom-info" id="custom-low-bus">저상 버스 정보</div>
          <div class="custom-info" id="custom-festival">행사 정보</div>
          <input type="submit" value="이전" />
          <input id="custom-check" type="submit" value="확인" />
        </form>
      </div>
    </div>

    <!-- 제보 모달 -->

    <div id="report-container" class="hidden modal-container">
      <div id="report-content" class="modal-content">
        <form action="/report" method="post" id="report-form">
          {% csrf_token %}
          <select name="report-case" id="report-case" required>
            <option value="impaired-init">* 사건분류</option>
            <option value="panic">범죄</option>
            <option value="visually">재난</option>
          </select>
          <input
            type="text"
            id="report-name"
            name="report_name"
            placeholder="* 제보명"
            required
          />
          <input
            type="time"
            id="report-time"
            max="00:00"
            min="23:59"
            name="time"
            required
          />
          <br />
          <input type="submit" value="이전" />
          <input id="report-check" type="submit" value="제보하기" />
        </form>
      </div>
    </div>

    <!-- header wrapper footer -->
    <!-- 헤더 -->

    <header class="{% if not spw%}no-data{% endif %}">
      {% if spw %}
      <span class="spw-action">현재 특보 정보</span>
      <div id="spw-data">
        {% for item in spw %}
        <span>{{ item.REG_NM }} {{ item.WRN }} {{item.LVL}}</span>
        {% endfor %}
      </div>
      {% else %}
      <h3>발생 특보 없음</h3>
      {% endif %}
    </header>

    <!-- 메인 구조 -->

    <div id="wrapper">
      <!-- 좌측 메뉴바 -->

      <nav id="left-nav">
        <div id="logo">
          <div><a href="/">COMMA</a></div>
        </div>
        <div id="info">
          <div><a href="dense_popul_info">혼잡정보</a></div>
          <div><a href="transfer_info">교통정보</a></div>
          <div><a href="/get_demo_today">시위정보</a></div>
          <div><a href="safety_info">안전정보</a></div>
        </div>
        <div id="contact">
          <div id="custom-btn"><a>커스터마이징</a></div>
          <div id="report-btn"><a>제보하기</a></div>
        </div>
      </nav>

      <!-- 메인컨텐츠 -->

      <div class="content-wrapper">
        <div id="content-display">
          <div id="content-img"></div>
          <div class="content-info">
            <span>서울역</span>
            <span>혼잡</span>
          </div>
          <div class="content-info hidden">
            <span>테스트1</span>
            <span>테스트1</span>
          </div>
          <div class="content-info hidden">
            <span>테스트2</span>
            <span>테스트2</span>
          </div>
          <div class="content-info hidden">
            <span>테스트3</span>
            <span>테스트3</span>
          </div>
          <div class="content-slide">
            <span class="slide">●</span>
            <span class="slide">○</span>
            <span class="slide">○</span>
            <span class="slide">○</span>
          </div>
        </div>

        <!-- 우측 메뉴바 -->
      </div>
      <nav id="right-nav">
        <div id="user">
          {% if request.session.ID %}
          <div id="greeting">
            <a href="#">Hello {{ request.session.ID }}!</a>
          </div>
          <div id="my-page" class="signup-mypage">
            <a href="./my_page/{{ request.session.ID }}">마이페이지</a>
          </div>
          <div id="logout" class="login-logout">
            <a href="./logout">로그아웃</a>
          </div>
          {% else %}
          <div id="sign-up" class="signup-mypage">
            <a>회원가입</a>
          </div>
          <div id="login" class="login-logout">
            <a>로그인</a>
          </div>
          {% endif %}
        </div>
        <div id="location">
          <div><a>지역설정하기</a></div>
        </div>
      </nav>
    </div>
    <footer>
      <p>dev by team COMMA</p>
      <button id="start">음성인식</button>
      <button id="end">인식종료</button>
    </footer>
    <script src="../static/js/location.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/sign_up.js"></script>
    <script src="../static/js/speech.js"></script>
    <script src="../static/js/report.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
