<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>도시예보서비스</title>
  </head>
  <body>
    <!-- 지도 모달 -->
    <div id="locationContainer" class="hidden">
      <div id="locationContent" class="modal-content">
        <div id="gpsLocation">
          <span>현재 위치로 설정</span>
        </div>
        <div id="mapLocation">
          <span>지도를 통해 설정</span>
        </div>
      </div>
    </div>
    <!-- 회원가입 모달 -->
    <div id="signup-container" class="hidden">
      <div id="signup-content" class="modal-content">
        <form action="/sign_up" method="post" id="sign-up-form">
          {% csrf_token %}
          <input
            type="text"
            id="name"
            name="name"
            placeholder="* 이름"
            required
          />

          <input
            type="text"
            id="ID"
            name="ID"
            placeholder="* 아이디"
            required
          />
          <input
            type="submit"
            value="중복체크"
            id="checkID"
            formaction="/id_check"
            required
          />
          <input
            type="password"
            id="PW"
            name="PW"
            placeholder="* 비밀번호를 입력해주세요."
            required
          />
          <input
            type="password"
            id="checkPW"
            name="checkPW"
            placeholder="* 비밀번호를 한 번 더 입력해주세요."
            required
          />
          <p id="message" class="hidden">비밀번호가 일치하지 않습니다.</p>
          <input
            type="date"
            id="date"
            max="2024-01-01"
            min="1900-01-01"
            name="date"
            placeholder="생년월일"
            required
          />
          <select name="gender" id="gender" required>
            <option value="gender-init">* 성별</option>
            <option value="male">남성</option>
            <option value="female">여성</option>
          </select>
          <select name="impaired" id="disabled" required>
            <option value="impaired-init">* 장애여부</option>
            <option value="panic">공황장애</option>
            <option value="visually">시각장애</option>
            <option value="behavior">거동장애</option>
            <option value="normal">없음</option>
          </select>
          <br />
          <input type="submit" value="이전" />
          <input id="sign-up-check" type="submit" value="회원가입" />
        </form>
      </div>
    </div>

    <div id="login-container" class="hidden">
      <div id="login-content" class="modal-content">
        <form id="loginForm" name="login" action="/login" method="post">
          <label for="userid">Username</label>
          <input type="text" id="userid" name="userid" required />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
    <header class="{% if spw is None %}no-data{% endif %}">
      {% if spw is not None%}
      <span class="spw-action">현재 특보 정보</span>
      <div id="spw-data">
        {% for item in spw %}
        <span>{{ item.REG_NM }} {{ item.WRN }} {{item.LVL}}</span>
        {% endfor %}
      </div>
      {% else %}
      <h3>발생 특보 없음</h3>
      {% endif %}
    </header>
    <div id="wrapper">
      <nav id="left-nav">
        <div id="logo">
          <div><a href="/">COMMA</a></div>
        </div>
        <div id="info">
          <div><a>혼잡정보</a></div>
          <div><a>교통정보</a></div>
          <div><a>시위정보</a></div>
        </div>
        <div id="contact">
          <div><a>커스터마이징</a></div>
          <div><a>제보하기</a></div>
        </div>
      </nav>

      <div class="content-wrapper">
        <div id="content-display">
          <img src="../static/images/seoulStation.jpg" alt="서울역" />
          <div id="content-exp">서울역</div>
        </div>
        <!-- 진자 엔진 자리, 해당 지역 매칭해서 -->
      </div>
      <nav id="right-nav">
        <div id="user">
          {% if request.session.ID %}
          <div id="greeting">
            <a href="#">{{ request.session.ID }}님 환영합니다!</a>
          </div>
          <div id="mypage" class="signup-mypage">
            <a href="./mypage/{{ request.session.ID }}">마이페이지</a>
          </div>
          <div id="logout" class="login-logout">
            <a href="./logout">로그아웃</a>
          </div>
          {% else %}
          <div id="sign-up" class="signup-mypage">
            <a>회원가입</a>
          </div>
          <div id="login" class="login-logout">
            <a>로그인</a>
          </div>
          {% endif %}
        </div>
        <div id="location">
          <div><a>지역설정하기</a></div>
        </div>
      </nav>
    </div>
    <footer>
      <p>dev by team COMMA</p>
      <button id="start">음성인식</button>
      <button id="end">인식종료</button>
    </footer>
    <script src="../static/js/location.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/mypage.js"></script>
    <script src="../static/js/sign_up.js"></script>
    <script src="../static/js/speech.js"></script>
  </body>
</html>
