<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <title>제보하기</title>
  </head>
  <body>
    <!-- 지도 모달 -->
    <div id="locationContainer" class="hidden">
      <div id="locationContent" class="modal-content">
        <div id="gpsLocation">
          <span>현재 위치로 설정</span>
        </div>
        <div id="mapLocation">
          <span>지도를 통해 설정</span>
        </div>
      </div>
    </div>
    <!-- { 헤더 재난 정보 백에서 받아와야 함 } -->
    <header>
      <span>서울특별시 전역 폭염주의보 발령</span>
    </header>
    <div id="wrapper">
      <nav id="left-nav">
        <div id="logo">
          <div><a href="/">COMMA</a></div>
        </div>
        <div id="info">
          <div><a href="/dense_popul_info">혼잡정보</a></div>
          <div><a href="/transfer_info">교통정보</a></div>
          <div><a href="/get_demo_today">시위정보</a></div>
          <div><a href="/safety_info">안전정보</a></div>
        </div>
        <div id="contact">
          <div><a>커스터마이징</a></div>
          <div><a>제보하기</a></div>
        </div>
      </nav>

      <div class="content-wrapper">
        <form action="/" method="post">
          <input type="text" name="subway_search" id="subway-search" />
        </form>
      </div>
      <nav id="right-nav">
        <div id="user">
          {% if request.session.ID %}
          <div id="greeting">
            <a href="#">{{ request.session.ID }}님 환영합니다!</a>
          </div>
          <div id="mypage" class="signup-mypage">
            <a href="/my_page/{{ request.session.ID }}">마이페이지</a>
          </div>
          <div id="logout" class="login-logout">
            <a href="./logout">로그아웃</a>
          </div>
          {% else %}
          <div id="sign-up" class="signup-mypage">
            <a>회원가입</a>
          </div>
          <div id="login" class="login-logout">
            <a>로그인</a>
          </div>
          {% endif %}
        </div>
        <div id="location">
          <div><a>지역설정하기</a></div>
        </div>
      </nav>
    </div>
    <footer>
      <p>dev by team COMMA</p>
      <button id="start">음성인식</button>
      <button id="end">인식종료</button>
    </footer>
    <script src="../static/js/speech.js"></script>
    <script src="../static/js/location.js"></script>
    <script src="../static/js/mypage.js"></script>
    <script src="../static/js/transfer.js"></script>
  </body>
</html>
